.testimonialSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 65px 0;
  background: url("/lineBg.svg") center/100% 100%;
}

.testimonialContent {
  text-align: start;
}

.textRow {
  font-weight: 700;
  display: flex;
  align-items: center;

  font-size: 18px;
  color: #55324c; /* Пурпурный текст */

  & a {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 5px;
  }
}

.textRow-right {
  margin-left: auto;
  text-align: end;
  justify-content: end;
  padding-right: 60px;
}

.highlight {
  font-size: 26px; /* Тёмно-пурпурный */
}

.arrow {
  width: 62px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(19%) sepia(23%) saturate(1049%)
    hue-rotate(263deg) brightness(98%) contrast(87%);
}

.image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.imageLeft {
  top: 65%;
  left: 10px;
  z-index: -1;
  opacity: 0;
  translate: 0 0;

  transition: all 0.3s ease-in-out;
  &.show {
    animation: animateLeftImg 1s ease-in-out forwards;
  }
}
.show {
}

@keyframes animateLeftImg {
  0% {
    opacity: 0;
    translate: -200% 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes animateRightImg {
  0% {
    opacity: 0;
    translate: 150% 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
.imageRight {
  top: 33%;
  right: 7px;
  z-index: -1;

  opacity: 0;
  translate: 0 0;

  transition: all 0.3s ease-in-out;
  &.show {
    animation: animateRightImg 1s ease-in-out forwards;
  }
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .testimonialSection {
    padding: 130px 0;
    width: 100vw;
    overflow: hidden;
  }
  .textRow {
    margin-inline: auto;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    transform: translateX(-10%);
  }
  .textRow-right {
    transform: translate(13%);
    text-align: end;
  }
  .highlight {
    font-size: 52px; /* Тёмно-пурпурный */
  }
  .arrow {
    width: 132px;
    height: auto;
  }

  .imageLeft {
    width: 200px;
    height: auto;
    top: 45%;
    left: auto;
    right: 50%;
    transform: translateX(-80%);
  }

  .imageRight {
    width: 210px;
    height: auto;
    top: 0%;
    left: 50%;
    transform: translateX(100%);
  }
}

@media screen and (min-width: 1240px) {
  .testimonialSection {
    padding: 130px 0;
    width: 100vw;
    overflow: hidden;
  }
  .textRow {
    margin-inline: auto;
    text-align: center;
    justify-content: center;
    font-size: 66px;
    transform: translateX(-10%);
  }
  .textRow-right {
    transform: translate(13%);
    text-align: end;
  }
  .highlight {
    font-size: 90px; /* Тёмно-пурпурный */
  }
  .arrow {
    width: 232px;
    height: auto;
  }

  .imageLeft {
    width: 250px;
    height: auto;
    top: 45%;
    left: auto;
    right: 50%;
    transform: translateX(-130%);
  }

  .imageRight {
    width: 260px;
    height: auto;
    top: 0%;
    left: 50%;
    transform: translateX(150%);
  }
}
